<div class="flex justify-end items-end">
  <div class="flex flex-col flex-wrap justify-end items-end max-w-[500px] gap-5 mt-10">
    <div class="flex">
      @if (user) {
        <div class="flex flex-col justify-end">
          <p data-testid="p-name-list">{{ user.name }}</p>
          <p data-testid="p-email-list">{{ user.email }}</p>
        </div>
      } @else {
        <div class="flex flex-col justify-end">
          <p data-testid="p-unauthenticated-text-list">Usuário não autenticado</p>
        </div>
      }
    </div>
    <button class="button-primary max-w-sm" (click)="logout()" data-testid="button-submit-list">
      Logout
    </button>
  </div>
</div>
