<div class="flex flex-col md:flex-row w-full justify-around items-center">
  <div
    class="flex flex-col relative justify-center items-center max-w-md bg-white p-8 rounded-3xl w-full min-h-[650px]"
  >
    <a [routerLink]="['/login']" alt="voltar" aria-label="voltar">
      <img class="button-back" src="botaoVoltar.svg" alt="" srcset="" />
    </a>
    <h2 class="subtitle">Comece agora</h2>
    <p class="secondary-text">Crie sua conta</p>
    <form class="w-full" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="relative mb-4">
        <label for="name" class="label"> Nome </label>
        <input
          formControlName="name"
          type="text"
          id="name"
          name="name"
          placeholder="Seu nome"
          class="input"
        />
      </div>

      <div class="relative mb-4">
        <label for="email" class="label"> Email </label>
        <input
          formControlName="email"
          type="email"
          id="email"
          name="email"
          placeholder="Seu email"
          class="input"
        />
      </div>
      <div class="relative mb-4">
        <label for="password" class="label"> Senha </label>
        <div class="relative">
          <input
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            name="password"
            placeholder="Sua senha"
            class="input"
          />
          <i class="mx-auto my-auto absolute top-2 right-2 cursor-pointer">
            <img
              [src]="showPassword ? 'hide.svg' : 'show.svg'"
              (click)="toggleVisibilityPassword()"
            />
          </i>
        </div>
      </div>

      <div class="relative mb-4">
        <label for="confirmPassword" class="label"> Confirme sua senha </label>
        <div class="relative">
          <input
            formControlName="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Sua senha"
            class="input"
          />
          <i class="mx-auto my-auto absolute top-2 right-2 cursor-pointer">
            <img
              [src]="showConfirmPassword ? 'hide.svg' : 'show.svg'"
              (click)="toggleVisibilityConfirmPassword()"
            />
          </i>
        </div>
      </div>

      <div class="flex justify-center items-center w-full">
        <button [disabled]="!registerForm.valid" type="submit" class="button-primary">
          Registrar
        </button>
      </div>
    </form>

    <p class="text-slate-400 mt-3 text-center text-text">
      Tem uma conta?
      <a [routerLink]="['/login']" class="link">Conecte-se</a>
    </p>
  </div>
</div>
