<div class="flex flex-col lg:flex-row w-full justify-around items-center">
  <div
    class="flex flex-col relative w-full justify-center items-center p-8 rounded-3xl max-w-[532px] min-h-[650px]"
  >
    <a [routerLink]="['/login']" alt="voltar" aria-label="voltar">
      <img
        class="button-back"
        src="botaoVoltar.svg"
        alt="voltar"
        data-testid="img-back-link-register"
      />
    </a>

    <h2 class="subtitle text-center mb-5" data-testid="h2-subtitle-register">Comece agora</h2>
    <p class="secondary-text">Crie sua conta</p>

    <form
      class="w-full mt-5 sm:mt-7"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      data-testid="container-form-register"
    >
      <div class="relative mb-0">
        <label for="name" class="label"> Nome </label>
        <input
          formControlName="name"
          type="text"
          id="name"
          name="name"
          placeholder="Seu nome"
          class="input"
          [class.border-red-input]="
            (registerForm.get('name')?.hasError('required') ||
              registerForm.get('name')?.hasError('minlength')) &&
            registerForm.get('name')?.touched
          "
          data-testid="input-name-register"
        />
        <div class="input-error">
          @if (
            registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched
          ) {
            <span data-testid="span-required-error-register">Campo obrigatório</span>
          } @else if (
            registerForm.get('name')?.hasError('minlength') && registerForm.get('name')?.touched
          ) {
            <span data-testid="span-minlength-error-register"
              >O nome deve conter pelo menos 3 caracteres</span
            >
          }
        </div>
      </div>

      <div class="relative mb-0">
        <label for="email" class="label"> Email </label>
        <input
          formControlName="email"
          type="email"
          id="email"
          name="email"
          placeholder="Seu email"
          class="input"
          [class.border-red-input]="
            (registerForm.get('email')?.hasError('required') ||
              registerForm.get('email')?.hasError('email')) &&
            registerForm.get('email')?.touched
          "
          data-testid="input-email-register"
        />
        <div class="input-error">
          @if (
            registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched
          ) {
            <span data-testid="span-required-error-register">Campo obrigatório</span>
          } @else if (
            registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched
          ) {
            <span data-testid="span-required-error-register">Insira um e-mail válido</span>
          }
        </div>
      </div>
      <div class="relative mb-0">
        <label for="password" class="label"> Senha </label>
        <div class="relative">
          <input
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            name="password"
            placeholder="Sua senha"
            class="input"
            [class.border-red-input]="
              (registerForm.get('password')?.hasError('required') ||
                registerForm.get('password')?.hasError('minlength') ||
                registerForm.get('password')?.hasError('pattern')) &&
              registerForm.get('password')?.touched
            "
            data-testid="input-password-register"
          />
          <i class="mx-auto my-auto absolute top-2 right-2 cursor-pointer">
            <img
              [src]="showPassword ? 'hide.svg' : 'show.svg'"
              (click)="toggleVisibilityPassword()"
              data-testid="img-password-toggle-register"
            />
          </i>

          <div class="input-error">
            @if (
              registerForm.get('password')?.hasError('required') &&
              registerForm.get('password')?.touched
            ) {
              <span data-testid="span-required-password-error-register">Campo obrigatório</span>
            } @else if (
              registerForm.get('password')?.hasError('minlength') &&
              registerForm.get('password')?.touched
            ) {
              <span data-testid="span-minlength-password-error-register"
                >Deve conter no mínimo 8 caracteres</span
              >
            } @else if (
              registerForm.get('password')?.hasError('pattern') &&
              registerForm.get('password')?.touched
            ) {
              <span data-testid="span-pattern-error-register"
                >Deve conter 1 letra maiúscula, 1 letra minúscula, 1 número e 1 caractere
                especial</span
              >
            }
          </div>
        </div>
      </div>

      <div class="relative mb-0">
        <label for="confirmPassword" class="label"> Confirme sua senha </label>
        <div class="relative">
          <input
            formControlName="passwordConfirmation"
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="passwordConfirmation"
            name="passwordConfirmation"
            placeholder="Sua senha"
            class="input"
            [class.border-red-input]="
              registerForm.get('passwordConfirmation')?.hasError('required') &&
              registerForm.get('passwordConfirmation')?.touched
            "
            data-testid="input-confirm-password-new-password-register"
          />
          <i class="mx-auto my-auto absolute top-2 right-2 cursor-pointer">
            <img
              [src]="showConfirmPassword ? 'hide.svg' : 'show.svg'"
              (click)="toggleVisibilityConfirmPassword()"
              data-testid="img-password-toggle-register"
            />
          </i>
          <div class="input-error">
            @if (
              registerForm.get('passwordConfirmation')?.hasError('required') &&
              registerForm.get('passwordConfirmation')?.touched
            ) {
              <span data-testid="span-password-required-error-register"> Campo obrigatório </span>
            }
          </div>
        </div>
      </div>

      <div
        class="flex justify-center items-center w-full"
        data-testid="container-submit-button-register"
      >
        <button type="submit" class="button-primary" data-testid="button-register">
          Registrar
        </button>
      </div>
    </form>

    <p class="tertiary-text mt-7">
      Tem uma conta?
      <a [routerLink]="['/login']" class="link" data-testid="a-connect-account-register">
        Conecte-se
      </a>
    </p>
  </div>
</div>
