<div class="flex flex-col lg:flex-row w-full justify-around items-center">
  <div
    class="flex flex-col relative w-full justify-center items-center bg-white p-8 rounded-3xl max-w-[28.25rem] min-h-[650px]"
    data-testid="content-confirma-email"
  >
    <a [routerLink]="['']" alt="voltar" aria-label="voltar">
      <img
        class="button-back"
        src="botaoVoltar.svg"
        alt="voltar"
        data-testid="img-back-link-confirma-email"
      />
    </a>
    <h2 class="subtitle text-center" data-testid="h2-subtitle-confirma-email">
      Verifique sua conta
    </h2>
    <p class="secondary-text text-center">
      O link de ativação da conta foi enviado para o endereço de e-mail que você forneceu
    </p>

    <iframe
      src="https://lottie.host/embed/005d7feb-22ce-4430-b9e3-33c55e0a2c0b/iIUVUAlWM6.json"
      class="my-4 max-w-[9.125rem] sm:max-w-[13.3125rem] w-full"
    ></iframe>
    <p class="tertiary-text">
      Não recebeu o e-mail?
      <a [routerLink]="['/']" class="link" data-testid="link-resend-email-confirma-email"
        >envie novamente</a
      >
      <!-- ainda precisa ser implementado link de reenvio -->
    </p>
  </div>
</div>
