<div class="flex flex-col md:flex-row w-full justify-around items-center">
  <div
    class="flex flex-col relative justify-center items-center p-8 rounded-3xl max-w-[532px] min-h-[650px]"
  >
    <a [routerLink]="['/login']" alt="voltar" aria-label="voltar">
      <img class="button-back" src="botaoVoltar.svg" alt="" srcset="" />
    </a>

    <h2 class="subtitle text-center">Redefinir sua senha</h2>
    <p class="secondary-text">Insira uma nova senha</p>
    <form class="w-full max-w-sm" [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
      <div class="relative mb-4">
        <label for="password" class="label"> Senha </label>
        <div class="relative">
          <input
            formControlName="senha"
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            name="password"
            placeholder="Sua senha"
            class="input"
          />
          <i class="mx-auto my-auto absolute top-2 right-2 cursor-pointer">
            <img
              [src]="showPassword ? 'hide.svg' : 'show.svg'"
              (click)="toggleVisibilityPassword()"
            />
          </i>

          <div class="input-error max-w-[430px]">
            @if (
              newPasswordForm.get('senha')?.hasError('required') &&
              newPasswordForm.get('senha')?.touched
            ) {
              <span class="">Campo obrigatório</span>
            } @else if (
              newPasswordForm.get('senha')?.hasError('minlength') &&
              newPasswordForm.get('senha')?.touched
            ) {
              <span class=""> Deve conter no mínimo 8 caracteres </span>
            } @else if (
              newPasswordForm.get('senha')?.hasError('pattern') &&
              newPasswordForm.get('senha')?.touched
            ) {
              <span class="">
                Deve conter 1 letra maiúscula, 1 letra minúscula, 1 número e 1 caractere especial
              </span>
            }
          </div>
        </div>
      </div>

      <div class="relative mb-4">
        <label for="confirmPassword" class="label"> Confirme sua senha </label>
        <div class="relative">
          <input
            formControlName="confirmarSenha"
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Sua senha"
            class="input"
          />
          <i class="mx-auto my-auto absolute top-2 right-2 cursor-pointer">
            <img
              [src]="showConfirmPassword ? 'hide.svg' : 'show.svg'"
              (click)="toggleVisibilityConfirmPassword()"
            />
          </i>

          <div class="input-error">
            @if (
              newPasswordForm.get('confirmarSenha')?.hasError('required') &&
              newPasswordForm.get('confirmarSenha')?.touched
            ) {
              <span class="">Campo obrigatório</span>
            }
          </div>
        </div>
      </div>

      <div class="flex justify-center items-center w-full">
        <button [disabled]="!newPasswordForm.valid" type="submit" class="button-primary">
          Redefinir
        </button>
      </div>
    </form>
  </div>
</div>
