<div class="flex flex-col md:flex-row w-full justify-around items-center">
  <app-dynamic-sidebar
    class="flex w-full min-w-[570px] min-h-[570px]"
    [imageUrl]="imageUrl"
    [title]="title"
    [textContent]="textContent"
  >
  </app-dynamic-sidebar>
  <div class="flex flex-col mt-10 md:mt-0 justify-center items-center w-full">
    <div
      class="flex flex-col relative justify-center items-center max-w-sm bg-white p-8 rounded-m w-full min-h-[570px] shadow-lg"
    >
      <a [routerLink]="['']" alt="voltar" aria-label="voltar">
        <img
          class="absolute top-4 left-4 p-2 bg-neutral-50 hover:bg-neutral-100 rounded-sm"
          src="botaoVoltar.svg"
          alt=""
          srcset=""
        />
      </a>

      <h2 class="text-primary-950 text-subtitle font-bold text-3xl mb-0 text-center">
        Redefinir sua senha
      </h2>
      <p class="leading-relaxed my-2 text-neutral-400 text-subtext text-center">
        Insira uma nova senha
      </p>
      <form class="w-full max-w-sm">
        <div class="relative mb-4">
          <label for="senha" class="leading-7 text-sm text-primary-900 w-full font-semibold">
            Senha
          </label>
          <input
            type="password"
            id="senha"
            name="senha"
            placeholder="Sua senha"
            class="bg-slate-100 rounded-m border border-gray-300 focus:border-primary focus:ring-2 focus:bg-slate-50 focus:ring-primary text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-full"
          />
        </div>
        <div class="relative mb-4">
          <label
            for="confirmPassword"
            class="leading-7 text-sm text-primary-900 w-full font-semibold"
          >
            Senha
          </label>
          <div class="relative">
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Sua senha"
              class="w-full bg-slate-100 rounded-m border border-gray-300 focus:border-primary focus:ring-2 focus:bg-slate-50 focus:ring-primary text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
            <i class="mx-auto my-auto absolute top-2 right-2 cursor-pointer">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.58631 13.7788C5.36575 15.5478 8.46904 17.9999 11.9997 17.9999C15.5303 17.9999 18.6331 15.5478 20.4125 13.7788C20.8818 13.3123 21.1172 13.0782 21.2667 12.6201C21.3733 12.2933 21.3733 11.7067 21.2667 11.3799C21.1172 10.9218 20.8818 10.6877 20.4125 10.2211C18.633 8.45208 15.5303 6 11.9997 6C8.46904 6 5.36575 8.45208 3.58631 10.2211C3.11665 10.688 2.8818 10.9216 2.73231 11.3799C2.62569 11.7067 2.62569 12.2933 2.73231 12.6201C2.8818 13.0784 3.11665 13.3119 3.58631 13.7788Z"
                  stroke="#4b5563"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.99951 12C9.99951 13.1046 10.8949 14 11.9995 14C13.1041 14 13.9995 13.1046 13.9995 12C13.9995 10.8954 13.1041 10 11.9995 10C10.8949 10 9.99951 10.8954 9.99951 12Z"
                  stroke="#4b5563"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </i>
          </div>
        </div>

        <div class="flex justify-center items-center w-full">
          <button
            class="text-white border-0 rounded-m py-2 px-8 focus:outline-none bg-primary-400 hover:bg-primary-500 font-bold text-lg w-full text-text"
          >
            Entrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
