<div class="flex flex-col md:flex-row w-full justify-around items-center">
  <div
    class="flex flex-col relative justify-center items-center max-w-md bg-white p-8 rounded-3xl w-full min-h-[650px]"
  >
    <a [routerLink]="['/login']" alt="voltar" aria-label="voltar">
      <img class="button-back" src="botaoVoltar.svg" alt="" srcset="" />
    </a>

    <h2 class="subtitle">Redefinir sua senha</h2>
    <p class="secondary-text">Insira uma nova senha</p>
    <form class="w-full max-w-sm" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="relative mb-4">
        <label for="password" class="label"> Senha </label>
        <div class="relative">
          <input
            formControlName="senha"
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            name="password"
            placeholder="Sua senha"
            class="input"
          />
          <i class="mx-auto my-auto absolute top-2 right-2 cursor-pointer">
            <img
              [src]="showPassword ? 'hide.svg' : 'show.svg'"
              (click)="toggleVisibilityPassword()"
            />
          </i>
        </div>
      </div>

      <div class="relative mb-4">
        <label for="confirmPassword" class="label"> Confirme sua senha </label>
        <div class="relative">
          <input
            formControlName="confirmarSenha"
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Sua senha"
            class="input"
          />
          <i class="mx-auto my-auto absolute top-2 right-2 cursor-pointer">
            <img
              [src]="showConfirmPassword ? 'hide.svg' : 'show.svg'"
              (click)="toggleVisibilityConfirmPassword()"
            />
          </i>
        </div>
      </div>

      <div class="flex justify-center items-center w-full">
        <button [disabled]="!form.valid" type="submit" class="button-primary">Entrar</button>
      </div>
    </form>
  </div>
</div>
