<div class="bg-transparent hidden md:block md:background mx-auto p-5">
  <header class="flex gap-2">
    <img class="h-8" src="logotipoWhite.svg" alt="logotipo" />
    <h1 class="text-white text-2xl font-bold">{{ title }}</h1>
  </header>
  <div class="flex h-screen">
    <div class="flex flex-col justify-around items-center">
      <img [src]="imageUrl" alt="imagem menino com pastas" class="text-white" />
      <h2 class="text-white font-bold text-2xl">{{ title }}</h2>
      <p class="text-subtext text-white text-center">{{ textContent }}</p>
    </div>
  </div>
</div>
