<div class="bg-transparent hidden lg:block lg:background my-auto p-5 bg-img place-self-center">
  <header class="flex gap-2">
    <img class="h-8" src="logotipoWhite.svg" alt="logotipo" />
    <h1 class="text-white-50 text-subheading font-bold">{{ title }}</h1>
  </header>
  <div class="flex">
    <div class="flex flex-col min-h-[813px] h-[87vh] justify-around items-center">
      <img
        [src]="imageUrl"
        alt="imagem menino com pastas"
        class="text-white max-w-[450px] w-full"
      />
      <h2 class="text-white-50 font-bold text-subtitleLarge">{{ title }}</h2>
      <p class="text-subheading text-white-50 text-center font-sans">{{ textContent }}</p>
    </div>
  </div>
</div>
