<div class="flex flex-col md:flex-row w-full justify-around items-center">
  <div
    class="flex flex-col relative justify-center items-center bg-white p-8 rounded-3xl max-w-[532px] min-h-[650px]"
  >
    <a [routerLink]="['/login']" alt="voltar" aria-label="voltar">
      <img
        class="button-back"
        src="botaoVoltar.svg"
        alt=""
        srcset=""
        data-testid="img-back-link-recovery"
      />
    </a>
    <h2 class="subtitle text-center mb-5" data-testid="h2-subtitle-recovery">
      Esqueci minha senha
    </h2>
    <p class="secondary-text text-center">
      Se você esqueceu sua senha, por favor digite seu e-mail abaixo para restaurar a senha.
    </p>
    <form
      class="w-full max-w-sm mt-4"
      [formGroup]="recoveryForm"
      (ngSubmit)="onSubmit()"
      data-testid="container-form-recovery"
    >
      <div class="relative mb-6">
        <label for="email" class="label"> Email </label>
        <input
          formControlName="email"
          type="email"
          id="email"
          name="email"
          placeholder="Digite seu email"
          class="input"
          [class.border-red-input]="
            (recoveryForm.get('email')?.hasError('required') ||
              recoveryForm.get('email')?.hasError('email')) &&
            recoveryForm.get('email')?.touched
          "
          data-testid="input-email-recovery"
        />
        <div class="input-error">
          @if (
            recoveryForm.get('email')?.hasError('required') && recoveryForm.get('email')?.touched
          ) {
            <span data-testid="span-required-error-email-recovery">Campo obrigatório</span>
          } @else if (
            recoveryForm.get('email')?.hasError('email') && recoveryForm.get('email')?.touched
          ) {
            <span data-testid="span-invalid-error-email-recovery">Insira um e-mail válido</span>
          }
        </div>
      </div>

      <div class="flex justify-center items-center w-full">
        <button type="submit" class="button-primary" data-testid="button-recovery">
          Enviar código
        </button>
      </div>
    </form>
  </div>
</div>
