<div class="flex flex-col md:flex-row w-full justify-around items-center">
  <div
    class="flex flex-col relative justify-center items-center max-w-md bg-white p-8 rounded-3xl w-full min-h-[650px]"
  >
    <h2 class="subtitle">Bem vindo de volta!</h2>
    <p class="secondary-text text-center">Insira suas credenciais para acessar sua conta</p>
    <form class="w-full" formGroup="loginForm" (ngSubmit)="onSubmit()">
      <div class="relative mb-4">
        <label for="email" class="label"> Email </label>
        <input
          formControlName="email"
          type="email"
          id="email"
          name="email"
          placeholder="Seu email"
          class="input"
        />
        <div class="input-error">
          @if (loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched) {
            <span class="input-error">Campo obrigatório</span>
          }
          @if (loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched) {
            <span class="input-error">Insira um e-mail válido</span>
          }
        </div>
      </div>
      <div class="relative mb-4">
        <label for="password" class="label"> Senha </label>
        <div class="relative">
          <input
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            name="password"
            placeholder="Sua senha"
            class="input"
          />
          <i class="mx-auto my-auto absolute top-2 right-2 cursor-pointer">
            <img
              [src]="showPassword ? 'hide.svg' : 'show.svg'"
              alt=""
              srcset=""
              (click)="toggleVisibilityPassword()"
            />
          </i>
          <div class="input-error">
            @if (
              loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched
            ) {
              <span class="input-error">Campo obrigatório</span>
            }
            @if (
              loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched
            ) {
              <span class="input-error">Sua senha deve conter no mínimo 8 caracteres</span>
            }
          </div>
        </div>
      </div>
      <div
        class="flex items-center justify-end text-primary-400 hover:text-primary-500 hover:underline"
      >
        <a [routerLink]="['/recovery']" class="text-text mb-2">Esqueceu sua senha?</a>
      </div>

      <div class="flex justify-center items-center w-full">
        <button [disabled]="!loginForm.valid" type="submit" class="button-primary">Entrar</button>
      </div>
    </form>

    <p class="secondary-text">
      Não tem uma conta?
      <a
        [routerLink]="['/register']"
        class="text-primary-400 hover:text-primary-500 hover:underline"
        >Crie sua conta aqui</a
      >
    </p>
    <div class="flex justify-around my-5 w-full">
      <span class="inline-block h-[0.5px] w-32 rounded-3xl bg-neutral-400 mt-3 mb-6"></span>
      <p class="text-subtexto text-slate-400 text-text">Ou</p>
      <span class="inline-block h-[0.5px] w-32 rounded-3xl bg-neutral-400 mt-3 mb-6"></span>
    </div>
    <div #googleBtn></div>
  </div>
</div>
