<div class="flex flex-col md:flex-row w-full justify-around items-center">
  <div
    class="flex flex-col relative justify-center items-center bg-white p-8 rounded-3xl max-w-[532px] min-h-[650px]"
  >
    <a [routerLink]="['/login']" alt="voltar" aria-label="voltar">
      <img class="button-back" src="botaoVoltar.svg" alt="" srcset="" />
    </a>
    <h2 class="subtitle text-center mb-5">Insira seu código</h2>
    <p class="secondary-text text-center">
      Enviamos um e-mail com um código de verificação. Por favor, insira o código abaixo.
    </p>
    <form class="w-full max-w-sm mt-4" [formGroup]="codeForm" (ngSubmit)="onSubmit()">
      <div class="flex justify-center mb-3 gap-1">
        <input
          id="code1"
          type="text"
          maxlength="1"
          formControlName="code1"
          class="w-10 h-10 text-center text-2xl bg-gray-200 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500"
          (input)="onInputChange($event, 'code2')"
          (paste)="onPaste($event)"
        />
        <input
          id="code2"
          type="text"
          maxlength="1"
          formControlName="code2"
          class="w-10 h-10 text-center text-2xl bg-gray-200 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500"
          (input)="onInputChange($event, 'code3')"
        />
        <input
          id="code3"
          type="text"
          maxlength="1"
          formControlName="code3"
          class="w-10 h-10 text-center text-2xl bg-gray-200 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500"
          (input)="onInputChange($event, 'code4')"
        />
        <input
          id="code4"
          type="text"
          maxlength="1"
          formControlName="code4"
          class="w-10 h-10 text-center text-2xl bg-gray-200 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500"
          (input)="onInputChange($event, 'code5')"
        />
        <input
          id="code5"
          type="text"
          maxlength="1"
          formControlName="code5"
          class="w-10 h-10 text-center text-2xl bg-gray-200 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500"
          (input)="onInputChange($event, 'code6')"
        />
        <input
          id="code6"
          type="text"
          maxlength="1"
          formControlName="code6"
          class="w-10 h-10 text-center text-2xl bg-gray-200 rounded-md shadow-sm focus:ring-primary-500 focus:border-primary-500"
        />
      </div>
      <div class="input-error text-center mb-3">
        @if (
          (codeForm.get('code1')?.hasError('required') && codeForm.get('code1')?.touched) ||
          (codeForm.get('code2')?.hasError('required') && codeForm.get('code2')?.touched) ||
          (codeForm.get('code3')?.hasError('required') && codeForm.get('code3')?.touched) ||
          (codeForm.get('code4')?.hasError('required') && codeForm.get('code4')?.touched) ||
          (codeForm.get('code5')?.hasError('required') && codeForm.get('code5')?.touched) ||
          (codeForm.get('code6')?.hasError('required') && codeForm.get('code6')?.touched)
        ) {
          <span class="input-error"> Campo obrigatório. </span>
        } @else if (
          (codeForm.get('code1')?.hasError('pattern') &&
            codeForm.get('code1')?.touched &&
            codeForm.get('code1')?.dirty) ||
          (codeForm.get('code2')?.hasError('pattern') &&
            codeForm.get('code2')?.touched &&
            codeForm.get('code2')?.dirty) ||
          (codeForm.get('code3')?.hasError('pattern') &&
            codeForm.get('code3')?.touched &&
            codeForm.get('code3')?.dirty) ||
          (codeForm.get('code4')?.hasError('pattern') &&
            codeForm.get('code4')?.touched &&
            codeForm.get('code4')?.dirty) ||
          (codeForm.get('code5')?.hasError('pattern') &&
            codeForm.get('code5')?.touched &&
            codeForm.get('code5')?.dirty) ||
          (codeForm.get('code6')?.hasError('pattern') &&
            codeForm.get('code6')?.touched &&
            codeForm.get('code6')?.dirty)
        ) {
          <span class="input-error"> Caracteres especiais não são permitidos. </span>
        }
      </div>
      <div class="flex justify-center items-center w-full">
        <button [disabled]="!codeForm.valid" type="submit" class="button-primary">Verificar</button>
      </div>
    </form>
  </div>
</div>
